<a href="https://colab.research.google.com/github/algoexpt/datasci_mgl/blob/main/foundations_mgl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [2]:
pd.Series(range(0,10,3))

0    0
1    3
2    6
3    9
dtype: int64

In [3]:
pd.Series(index=['a', 'b', 'c'], data=[1,2,3,4])

ValueError: ignored

In [7]:
dict={'A':30, 'B':40, 'C':50}
index=['A', 'B', 'D']
pd.Series(data=dict, index=index).isnull()

A    False
B    False
D     True
dtype: bool

In [5]:
s1 = pd.Series([1, 2, 5, 6.5])

In [6]:
s1

0    1.0
1    2.0
2    5.0
3    6.5
dtype: float64

In [10]:
s1.rank(ascending=False)

0    4.0
1    3.0
2    2.0
3    1.0
dtype: float64

In [19]:
s1[4] = 2
s1[5] = 2
s1[6] = 2

In [20]:
s1

0    1.0
1    2.0
2    5.0
3    6.5
4    2.0
5    2.0
6    2.0
dtype: float64

In [21]:
s1.rank(ascending=False)

0    7.0
1    4.5
2    2.0
3    1.0
4    4.5
5    4.5
6    4.5
dtype: float64

In [22]:
data=range(10)
new_ser=pd.Series(data=data)
new_ser[new_ser==5]

5    5
dtype: int64

In [23]:
s1.info()

AttributeError: ignored

In [24]:
df=pd.DataFrame(data=[s1,s1], index=['a','b']).T

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       7 non-null      float64
 1   b       7 non-null      float64
dtypes: float64(2)
memory usage: 488.0 bytes

In [26]:
df

     a    b
0  1.0  1.0
1  2.0  2.0
2  5.0  5.0
3  6.5  6.5
4  2.0  2.0
5  2.0  2.0
6  2.0  2.0

In [29]:
df.iloc[df.index[::-1], :]

     a    b
6  2.0  2.0
5  2.0  2.0
4  2.0  2.0
3  6.5  6.5
2  5.0  5.0
1  2.0  2.0
0  1.0  1.0

In [28]:
data = {'A':[1,2,3,4,5], 'B':[1,0,1,1,0]}
df2 = pd.DataFrame(data=data)
df2.C = df2.A + df2.B

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
pd.read_json('sample_data/anscombe.json')

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89